
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
*.env
*.venv
*.virtualenv
pyvenv.cfg
*.egg-info/
*.egg
*.eggs
*.log

env/
venv/

pip-log.txt

.vscode/
*.code-workspace
*.sublime-workspace

# Byte-compiled / optimized / DLL files
*.pyc

# Distribution / packaging
build/
dist/
*.egg-info/
*.manifest

.DS_Store
Thumbs.db
Lib/
Include/
Scripts/
site-packages/
node_modules/
*.min.js
*.min.css
*.map


*.tmp
*.swp
temp/
